/* #root
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% ;
} */



body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  
}

.hbg {
  background-image: url('./css/bg3.png');
  }

  .fbg{
    background-image: url('./css/of.png')
  }

  .dbg{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }

.lg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./css/reg.jpg');
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
 
}

.rbb {
  background-image: url('./css/valluvar.jpg');
}

.even-row {
  background-image: url('./css/bg4.png');
  color:#000000;
}

.even-rowh {
  background-image: url('./css/bg5.png');
  color:#000000;
}
.odd-row {
  background-color: #080808dd;
  color: #ffffff;
}

.cbg{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  
}

.revbg
{
  background: #30E8BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.statbg{
  background-image: url('./css/of2.png');
}

.dashbg{
  background-image: url('./css/of3.png');
}